<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/ring.jpg" alt="" />
  </div>
  <div class="content">
    <h2>My</h2>
	<p>Opis jakis do nas
</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/ring.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/ring.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/ring.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Opis jakis
      <br/>
      Opis
    </p>
  </div>
  <div class="image">
    <img src="images/ring.jpg" alt="" />
  </div>
</section>
