<div class="inner">
  <header class="major">
    <h2>Zapraszamy!</h2>
    <p>22 Czerwca 2024</p>

	<p>Dwór Afrodyta<br/>
	<a target="_blank" href="https://www.google.com/maps/place/Dw%C3%B3r+Afrodyta+****/@52.0122885,20.5188634,17z/data=!3m1!4b1!4m6!3m5!1s0x471943fe7ef48b39:0x5021c717b4db691a!8m2!3d52.0122852!4d20.5214383!16s%2Fg%2F11f3vrx6mp?entry=ttu">	Sala weselna<br/>
	<a target="_blank" href="https://www.google.com/maps/place/Dw%C3%B3r+Afrodyta+****/@52.0122885,20.5188634,17z/data=!3m1!4b1!4m6!3m5!1s0x471943fe7ef48b39:0x5021c717b4db691a!8m2!3d52.0122852!4d20.5214383!16s%2Fg%2F11f3vrx6mp?entry=ttu">	Kościół<br/>

  <p>16:00 - Ślub</p>
  <p>17:30 - Wesele</p>
  
  <p>Pobierz  aplikację<a target="_blank" href="https://samsaidyes.com/app"> SamSaidYes, aby udostępnić swoje zdjęcia.</a></p>
