<div class="inner">
  <header class="major">
      <h2>Zapraszamy!</h2>
  </header>
  <h3>22 Czerwca 2024</h3>
  <h3>16:00 - Ślub <br/>
  17:30 - Wesele</h3>
  <p>
    <address>
      <strong>Kościół Rzymskokatolicki pw. Matki Bożej Nieustającej Pomocy w Grodzisku Mazowieckim</strong><br>
      Piaskowa 21,<br>  
      05-825, Grodzisk Mazowiecki<br>
      <a target="_blank" href="https://mbnp.waw.pl/">Strona internetowa parafii.</a>
    </address>
    <a target="_blank" href="https://www.google.com/maps/place/Ko%C5%9Bci%C3%B3%C5%82+Rzymskokatolicki+pw.+Matki+Bo%C5%BCej+Nieustaj%C4%85cej+Pomocy/@52.1020125,20.6474538,18.31z/data=!4m6!3m5!1s0x4719488d09d88843:0x3dc29e0fa58a48e9!8m2!3d52.1018582!4d20.6493132!16s%2Fg%2F122y0b1s?entry=ttu">Zobacz adres kościoła na mapie</a>
    <br><br/>

    <address>
      <strong>Sala weselna</strong><br>
      Letniskowa 2,<br>
      96-325, Tartak Brzózki<br>
    </address> 
    <a target="_blank" href="https://www.google.com/maps/place/Dw%C3%B3r+Afrodyta+****/@52.0122885,20.5188634,17z/data=!3m1!4b1!4m6!3m5!1s0x471943fe7ef48b39:0x5021c717b4db691a!8m2!3d52.0122852!4d20.5214383!16s%2Fg%2F11f3vrx6mp?entry=ttu">Zobacz adres sali weselnej na mapie.</a><br>
</p>
  <!-- Zakomentowany link do aplikacji, można odkomentować, gdy będzie potrzebny
  <p>Pobierz aplikację <a target="_blank" href="https://samsaidyes.com/app">SamSaidYes</a>, aby udostępnić swoje zdjęcia.</p>
  -->
</div>
