<section class="spotlight" style="background: #f5f5dc">
  <div class="content">
    <h2>Kościół</h2>
    <p>
      <address>
        <div><strong>Kościół Rzymskokatolicki pw. Matki Bożej Nieustającej Pomocy w Grodzisku Mazowieckim</strong></div>
        <div>Piaskowa 21,</div>
        <div>05-825, Grodzisk Mazowiecki</div>
      </address>
      <a target="_blank" href="https://www.google.com/maps/place/Ko%C5%9Bci%C3%B3%C5%82+Rzymskokatolicki+pw.+Matki+Bo%C5%BCej+Nieustaj%C4%85cej+Pomocy/@52.1020125,20.6474538,18.31z/data=!4m6!3m5!1s0x4719488d09d88843:0x3dc29e0fa58a48e9!8m2!3d52.1018582!4d20.6493132!16s%2Fg%2F122y0b1s?entry=ttu">Zobacz adres kościoła na mapie</a>
    </p>
  </div>
  <div class="image">
    <img src="images/kosciol.jpg" alt="" />
  </div>
</section>

<section class="spotlight" style="background: #f5f5dc">
  <div class="content">
    <h2>Kościół: Wskazówki do parkowania</h2>
	<p>
    Kościół nie posiada własnego parkingu, natomiast niżej znajdziecie ulice/parkingi gdzie można parkować:
      <ol>
        <li>Ulice: Podgórna, Czeska, Górna, Baśniowa</li>
        <li>Parking sklepu Netto</li>
        <li>Parking przy WKD</li>
      </ol>
  </p>
  </div>
  <div class="image">
    <img src="images/parking.jpg" alt="" />
  </div>
</section>

<section class="spotlight" style="background: #f5f5dc">
  <div class="content">
    <h2><a href="https://www.dworafrodyta.pl/" target="blank_">Dwór Afrodyta</a></h2>
    <p>Jadąc od strony Radziejowic sala znajduje się po prawej stronie tuż przy samej drodze. Wjazd jest od strony ulicy Letniskowej. <br>
      <address>
        <div><strong>Adres</strong></div>
        <div>Letniskowa 2,</div>
        <div>96-325, Tartak Brzózki</div>
        <a href="tel:+48123456789">+48 501 571 461</a>
      </address> <br>
    <a target="_blank" href="https://www.google.com/maps/place/Dw%C3%B3r+Afrodyta+****/@52.0123931,20.5200734,17.19z/data=!4m6!3m5!1s0x471943fe7ef48b39:0x5021c717b4db691a!8m2!3d52.0122852!4d20.5214383!16s%2Fg%2F11f3vrx6mp?hl=pl&entry=ttu">Zobacz to miejsce na mapie.</a></p>
  </div>
  <div class="image">
    <a href="https://www.dworafrodyta.pl/" target="blank_"><img src="images/dwor_afrodyta.jpg" alt="" /></a>
  </div>
</section>

<section class="spotlight" style="background: #f5f5dc">
  <div class="content">
    <h2>Sala weselna: Wskazówki do parkowania</h2>
	<p>
    Dwór Afrodyta ma swój parking, ale  zaparkować można również przy ulicy Letniskowej oraz Polnej.
  </p>
  </div>
  <div class="image">
    <img src="images/parking Afrodyta.jpg" alt="" />
  </div>
</section>
