<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
  </div>

</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2><a href="https://www.dworafrodyta.pl/" target="blank_">Dwór Afrodyta</a></h2>
	<p>
    Opis sali.
  </p>
  </div>
  <div class="image">
    <a href="https://www.dworafrodyta.pl/" target="blank_"><img src="images/dwor_afrodyta.jpg" alt="" /></a>
  </div>
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Krótki opis trasy. <br> Adres: Letniskowa 2, 96-325 Tartak Brzózki. <br>

    <a target="_blank" href="https://www.google.com/maps/place/Dw%C3%B3r+Afrodyta+****/@52.0123931,20.5200734,17.19z/data=!4m6!3m5!1s0x471943fe7ef48b39:0x5021c717b4db691a!8m2!3d52.0122852!4d20.5214383!16s%2Fg%2F11f3vrx6mp?hl=pl&entry=ttu">Zobacz to miejsce na mapie.</a></p>
  </div>
  <div class="image">
    <img src="images/map.jpg" alt="" />
  </div>
</section>
